<app-navbar></app-navbar>
<section class="w-full h-full m-0">
    <!-- Section de bannière -->
    <div 
        class="bg-[url('https://fr.86beer.com/fr/fr/_jcr_content/root/content/container/container_649190826_.aimg.1024.82.jpeg/1696239299274.jpeg')] 
        bg-cover bg-center h-screen flex flex-col items-center justify-center"
    >
        <h1 class="text-6xl my-4 text-black">Breweries</h1>
    </div>

    <!-- Liste des brasseries -->
    <div class="w-4/5 mx-auto py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div 
            *ngFor="let brewery of breweries" 
            class="bg-white shadow-md rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300"
        >
            <!-- Image de bannière -->
            <div 
                class="h-40 bg-cover bg-center" 
                [ngStyle]="{ 'background-image': 'brewery.banner_picture_url' }"
            ></div>

            <!-- Contenu de la brasserie -->
            <div class="p-4">
                <h2 class="text-2xl font-bold mb-2">{{ brewery.name }}</h2>
                <p class="text-gray-600 mb-4">{{ brewery.address }}</p>
                
                <div class="flex items-center space-x-4">
                    <!-- Profil -->
                    <img 
                        class="w-12 h-12 rounded-full border border-gray-300"
                        [src]="brewery.profile_picture_url"
                        alt="{{ brewery.name }}"
                    />
                    <!-- Lien vers la page -->
                    <a 
                        [routerLink]="['/brewery', brewery.id]" 
                        class="text-blue-500 hover:underline font-medium"
                    >
                        Voir les détails
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
