/* Style pour le conteneur principal */
.container {
  padding: 20px;
  margin: auto;
  padding-top: 80px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
}

/* Style pour la barre de recherche */
.search-bar {
  width: 100%;
  margin-bottom: 20px;
}

/* Style pour la grille de bières */
.beer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajustez la taille minimale des colonnes */
  gap: 20px;
  margin-bottom: 40px; /* Ajoutez un espace entre la grille et le formulaire */
}

/* Style pour les cartes de bières */
.beer-card {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 100%;
}

/* Conteneur pour encapsuler le formulaire */
.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Conteneur du formulaire */
.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style pour le formulaire */
.beer-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px; /* Limitez la largeur du formulaire */
  background-color: #fff; /* Fond blanc */
  padding: 20px; /* Ajoutez de l'espace à l'intérieur */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre */
}

mat-form-field {
  width: 100%;
  border: 1px solid black;
}

/* Groupe de boutons */
.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  align-self: flex-end; /* Alignez le bouton à droite */
}


/* Style pour les contrôles de pagination */
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Style pour les contrôles de limite */
.limit-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}