<app-navbar></app-navbar>
<div class="relative h-screen w-screen flex flex-col items-center justify-center">
  <img src="https://www.cec-zev.eu/fileadmin/_processed_/e/b/csm_Oktoberfest_Munich_Allemagne_bdb880789b.jpg" 
       class="absolute inset-0 w-full h-full object-cover sepia" alt="Background Image">
  <div class="relative bg-white bg-opacity-90 shadow-md rounded-lg p-10 w-2/5 mx-auto">
    <h1 class="text-5xl font-semibold mb-4">Ajouter une brasserie</h1>
    <hr>
    <form [formGroup]="breweryForm" (ngSubmit)="onSubmit()" class="mt-5">
      <div class="mb-4">
        <label for="name" class="block text-black text-sm mb-2">Nom de la brasserie :</label>
        <input type="text" id="name" formControlName="name"
               class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5"
               placeholder="Entrez le nom de la brasserie" required />
      </div>
      <div class="mb-4">
        <label for="address" class="block text-black text-sm mb-2">Adresse :</label>
        <input type="text" id="address" formControlName="address"
               class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-red-800 focus:border-red-500 block w-full p-2.5"
               placeholder="Entrez l'adresse" required />
      </div>
      <div class="mb-4">
        <label for="profileImage" class="block text-black text-sm mb-2">Image de profil :</label>
        <input type="file" id="profileImage" (change)="onFileChange($event, 'profileImage')"
               class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-red-800 focus:border-red-500 block w-full p-2.5 file:border-transparent file:bg-transparent file:cursor-pointer cursor-pointer"
               accept="image/*" required />
      </div>
      <div class="mb-4">
        <label for="bannerImage" class="block text-black text-sm mb-2">Image de bannière :</label>
        <input type="file" id="bannerImage" (change)="onFileChange($event, 'bannerImage')"
               class="bg-gray-50 border border-gray-300 text-black text-sm rounded-lg focus:ring-red-800 focus:border-red-500 block w-full p-2.5 file:border-transparent file:bg-transparent file:cursor-pointer cursor-pointer"
               accept="image/*" required />
      </div>
      <hr>
      <div class="flex justify-start gap-3 mt-5">
        <button type="submit"
                class="px-4 py-2 bg-red-800 text-white rounded-lg hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-800">
          Ajouter la brasserie
        </button>
        <button type="button" (click)="goBack()"
                class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
          Retour
        </button>
      </div>
    </form>
  </div>
</div>
